<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
  <title>Lista Transportistas</title>
</head>
<body>
<main>
  <div class="container px-4 py-5">
    <div th:insert="~{fragmentos/navbar.html :: cabecera}"></div>
    <div th:replace="~{fragmentos/navbar.html :: cabecera2}"></div>
    <!--h1 class="pb-2 border-bottom">Lista de transportistas</h1-->
    <h1 th:replace="~{fragmentos/titulos :: titulo1('transportistas')}"></h1>
    <div class="d-flex mt-3 mb-4">
      <a class="btn btn-primary" th:href="@{'/shipper/new'}">Nuevo empelado</a>
      <a class="btn btn-secondary ms-auto" th:href="@{'/'}">Regresar</a>
    </div>
    <form method="post" th:action="@{/shipper/BuscarEmpleado}">
      <input name="searchField" class="form-control mb-3" type="text" placeholder="Search"/>
    </form>
    <div class="alert alert-success" role="alert" th:if="${msg != null}" th:text="${msg}">
      A simple success alert—check it out!
    </div>
    <table class="table">
      <tr>
        <th>#</th>
        <th>Nombre </th>
        <th>aepllido </th>
        <th>puesto </th>
        <th>departamento </th>
        <th></th>
        <th></th>
      </tr>
      <tr th:each="empleado, info : ${empleadoList}">
        <td th:text="${info.index + 1}"></td>
        <td th:text="${empleado.firstName}"></td>
        <td th:text="${empleado.lastName}"></td>
        <td th:text="${empleado.getJob().getJobTitle()}"></td>
        <td th:text="${empleado.getJob().getJobTitle()}"></td>
        <td><a class="btn btn-primary" th:href="@{'/empleado/edit' + '?id=' + ${empleado.id}}">Editar</a>
        </td>
        <td><a class="btn btn-danger" th:href="@{'/empleado/delete' + '?id=' + ${empleado.id}}">Borrar</a>
        </td>
      </tr>
    </table>
    <hr />

  </div>
</main>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>