<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
  <title>Nuevo empleado</title>
</head>
<body>
<main>
  <div class="container px-4 py-5">
    <h1 class="pb-2 mb-3 border-bottom">Nuevo empelado</h1>
    <form method="post" th:action="@{'/empleado/save'}" class="mt-2">
      <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input name="name" type="text" class="form-control" id="name">
      </div>
      <div class="mb-3">
        <label for="apellido" class="form-label">Apellido</label>
        <input name="phone" type="text" class="form-control" id="apellido">
      </div>
      <div class="mb-3">
        <label for="puesto" class="form-label">puesto</label>
        <input name="phone" type="text" class="form-control" id="puesto">
      </div>
      <div class="mb-3">
        <label for="departamento" class="form-label">departamento</label>
        <input name="phone" type="text" class="form-control" id="departamento">
      </div>
      <div class="mb-3">
        <label for="ciudad" class="form-label">ciudad</label>
        <input name="phone" type="text" class="form-control" id="ciudad">
      </div>
      <a th:href="@{'/empleado/list'}" class="btn btn-danger">Cancelar</a>
      <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
  </div>
</main>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>